/* Common Styles */

body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}



/*--------------------
    Navigation Part
-------------------- */
.container{
    background-color: darkblue;
    padding: 40px 0px 80px 0px;
    mar
}


.side{
    display: flex;
    justify-content: space-around;
    align-items: center;
}


nav ul {
    list-style: none;
    display: flex;
    margin-left: -170px;
}


nav ul li{
    margin-left: 20px;
}


nav ul a{
    padding: 10px 20px;
    text-decoration: none;
    color: white;
    font-size: larger;
}


nav ul a:hover{
    color:black;
    background-color: white;
    border-radius: 9px;
    transition: 0.4s ease-in;
    
}


.login-button{
    display: flex;
    justify-content:center;
    align-items: center;
    width: 120px;
    height: 50px;
    color: white;
    background-color:palevioletred;
    border-radius: 9px;
}


.live-button{
    display: flex;
    justify-content:center;
    align-items: center;
    width: 150px;
    height: 50px;
    color: white;
    background-color:palevioletred;
    border-radius: 9px;
}



.fa-right-to-bracket, .fa-arrow-right {
    margin-right: 10px;
}


.white{
    color: white;
}


.hero{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 80px;
    margin-left: 20px;
}


.title{
    width: 30%;
}


 h1{
    font-size: 70px;
    line-height: 30px;
}



.hero .banner img{
    margin-right: 40px;
}


.login-button:hover{
    color: black;
    background-color: white;
    transition: .4s ease-in;
}


.live-button:hover{
    color: black;
    background-color: white;
    transition: .4s ease-in;
}


/*----------------------
    Footballers
-----------------------*/
.footballers{
    margin-top: 50px;
    margin-bottom: 150px;
}


.footballers .players .player img{
    width: 300px ;
    height: 256px;
    margin-top: 15px;
}


.player{
    width: 330px;
    height: 474px;
    background-color: white;
    box-shadow: 1px 1px 20px 1px lightgrey;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.footballers{
    display: flex;
    justify-content: center;
    align-items: center;
}


.players{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-row-gap: 40px;
    grid-column-gap: 100px;
}


.players .player h3,p{
    padding: 5px 10px;
}



/*---------------------
    Highlights Style Part
------------------------*/
.lower{
    margin: 100px 0px;
    
}


.highlights{
    display: flex;
    justify-content: center;
    align-items: center;
}


.watch-button{
    display: flex;
    justify-content:center;
    align-items: center;
    width: 150px;
    height: 50px;
    color: white;
    background-color:palevioletred;
    border-radius: 9px;
}


.watch-button:hover{
    color: white;
    background-color: black;
    transition: .4s ease-in;
}



.highlights .hl-banner img{
    width: 567px;
    height: 427px;
}


.hl-details{
    width: 40%;
}



/* ----------------------------
        Lower Banner
-------------------------------*/
.lower-banner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 60px;
}


.lower-banner img{
    width: 242px;
    height: 70px;
}


.logo{
    display: flex;
    justify-content: center;
    align-items: center;
}


.h1-smaller{
    font-size: 40px;
}


/* ------------------------
        Media Queries
--------------------------- */


/* -------- Mobile Device --------- */

@media only screen and (max-width:688px){

    .hero{
        flex-direction: column;
    }


    .title h1{
        font-size: 40px;
    }


    .hero .banner img{
        transform: scale(0.7);
    }

    .players{
        grid-template-columns: 1fr;
    }
    
    .highlights{
        flex-direction: column;
    }


    .hl-banner{
        margin-top: 50px;
    }

    .hl-banner img{
        transform: scale(.7);
    }
}